
<!--very simple footer-->
<link rel="stylesheet" href="https://use.typekit.net/jdt1dzp.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<div class="drink">
    <h3><label>ALWAYS DRINK RESPONSIBLY</label></h3>
</div>

<style>
footer {
	font-family: parisplus-std, sans-serif;
	width: 100%;
	height: 50px;
	overflow: auto;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #e96443;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(45deg, #904e95, #e96443);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(45deg, #904e95, #e96443);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	text-align: center;
	z-index: 5000;
}</style>
